html {
    min-width: 350px;
}

@media(max-width: 650px) {

    main:has(> .content),
    main>section,
    nav,
    #hero {
        display: grid;
        grid-template-columns: 2% [content]94% 2%;
    }
}

@media(min-width: 651px) {
main:has(> .content),
main>section,
nav,
#hero {
    display: grid;
    grid-template-columns: 15% [content]70% 15%;
}
}

main>.content,
main>section>.content {
    grid-column: content;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 15% 5% [third] 60% [fourth] 5% 15%;
}

body {
    margin: 0;
    padding: 0;
}

.grid-third-column {
    grid-column: third;
}

.grid-fourth-column {
    grid-column: fourth;
}

#hero {
    height: 300px;
    background-image: url("/images/hero_background_tmp.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0b0803;
    color: rgb(191, 203, 214);
    align-content: end;
}

#hero>.content {
    margin: 20px 20px 20px 20px;
    grid-column: content;
}

#hero div h3,
#hero div h4 {
    padding: 2px;
    margin: 0;
}