html {
    min-width: 350px;
}

header{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 5% 5% [third] 80% [fourth] 5% 5%;
}

body {
    margin: 0;
    padding: 0;
}

.grid-third-column {
    grid-column: third;
}

.grid-fourth-column {
    grid-column: fourth;
}

#hero {
    height: 300px;
    background-image: url("/images/hero_background_tmp.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0b0803;
    color: rgb(191, 203, 214);
    align-content: end;
}

#hero > div {
    margin: 20px 20px 20px 20px;
}

#hero > div h3,
#hero > div h4 {
    padding: 2px;
    margin: 0;
}

main {
    margin-top: 10px;
}