html {
    min-width: 350px;
}

main:has(> .content),
main>section,
nav,
#hero {
    display: grid;
}

main>.content,
main>section>.content {
    margin: 0;
    padding: 0;
    grid-column: content;
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #ffeacc;
    font-weight: bold;
    text-align: center;
    display: grid;
    grid-template-columns: 15% 5% [third] 60% [fourth] 5% 15%;
}

body {
    margin: 0;
    padding: 0;
}

#hero {
    height: 300px;
    background-image: url("/images/hero_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0b0803;
    color: rgb(238, 241, 239);
    align-content: end;
}

#hero>.content {
    margin: 20px 20px 20px 20px;
    grid-column: content;
}

#hero div h3,
#hero div h4 {
    margin: 0;
    padding: 2px;
}

.grid-third-column {
    grid-column: third;
}

.grid-fourth-column {
    grid-column: fourth;
}

@media(max-width: 650px) {

    main:has(> .content),
    main>section,
    nav,
    #hero {
        grid-template-columns: 2% [content]96% 2%;
    }
}

@media(min-width: 651px) {

    main:has(> .content),
    main>section,
    nav,
    #hero {
        grid-template-columns: 5% [content]90% 5%;
    }
}

@media(min-width: 1300px) {

    main:has(> .content),
    main>section,
    nav,
    #hero {
        grid-template-columns: 15% [content]70% 15%;
    }
}