main,
.square-wrapper {
  height: 600px;
}

main {
  margin: 0;
  display: grid;
  grid-template-columns: [first] 18% [second] auto;
  overflow: hidden;
}

.confirmation-area {
  position: absolute;
  z-index: 0;
  background: red;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
  ". text text ."
  ". button1 button2 ."
  ". . . .";
}

.confirmation-text {
  grid-area: text;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

#yes-button {
  grid-area: button1;
}

#back-button {
  grid-area: button2;
}

.input-wrapper {
  grid-column: first;
  position: relative;
}

.background {
  height: 100dvh;
  background: wheat;
}

.input-field {
  position: relative;
  display: grid;
  grid-template-columns: 30% [label] 20% [input] 20% 30%;
  flex-direction: column;
  background: gray;
  z-index: 1;
  align-items: center;
  text-align: center;
}

#reset-button {
  grid-column: button;
}

.square-wrapper {
  grid-column: second;
  align-content: center;
}

#square {
  width: 100px;
  height: 100px;
  background: linear-gradient(#56a0e1,#c12424);
  margin-left: auto;
  margin-right: auto;
}

label {
  padding-top: 10px;
  padding-bottom: 10px;
  grid-column: label;
}

input {
  height: 20px;
  width: 100px;
  grid-column: input;
}

.button-area{
  position: relative;
  text-align: center;
  z-index:1;
}

.reset-button {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}