@media(max-width: 890px){
 #square {
  width: 100px;
  height: 100px;
  background: linear-gradient(#56a0e1,#c12424);
  margin-left: auto;
  margin-right: auto;
 }

 .input-area {
  display: grid;
  grid-template-areas: ". text text .";
  flex-direction: column;

  align-items: center;
  text-align: center;
}
.button-area {
  text-align: center;
  margin-top: 20px;
}

label {
  margin-top: 5px;
  margin-bottom: 5px;
}

.left-side-background{
  margin-bottom: 30px;
}
}


@media(min-width: 890px){
  main > .content,
.square-wrapper {
  height: 600px;
}

main > .content {
  grid-column-end: 4;
  margin: 0;
  display: grid;
  grid-template-columns: [first] 200px 10% [second] auto;
  overflow: hidden;
}

.confirmation-area {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: red;
  display: grid;
  grid-template-areas:
  ". text text ."
  ". button1 button2 ."
  ". . . .";
}

.confirmation-text {
  grid-area: text;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

#yes-button {
  grid-area: button1;
}

#back-button {
  grid-area: button2;
}

.input-field {
  position: relative;
  width: max-content;
}

.left-side-background {
  height: 100dvh;
}

main,
.left-side-background,
.input-area-wrapper {
  background: wheat;
}


.input-area-wrapper {
  padding-top: 20px;
  z-index: 1;
  position: relative;
  opacity: 1;
  transition: opacity 0.5s;
}

.input-area {
  display: grid;
  grid-template-columns: [label] 100px [input] 100px;
  flex-direction: column;

  align-items: center;
  text-align: center;
}

#reset-button {
  grid-column: button;
}

.square-wrapper {
  grid-column: second;
  align-content: center;
  background: white;
}

#square {
  width: 100px;
  height: 100px;
  background: linear-gradient(#56a0e1,#c12424);
  margin-left: auto;
  margin-right: auto;
}

label {
  padding-top: 10px;
  padding-bottom: 10px;
  grid-column: label;
  width: max-content;
}

input {
  height: 20px;
  grid-column: input;
  box-sizing: border-box;
}

.button-area{
  position: relative;
  text-align: center;
  z-index:1;
  padding-top: 5px;
      width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.reset-button {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}
}