main,
.left-side-background,
.input-area-wrapper {
  background: wheat;
}

main>.content {
  display: grid;
}

label {
  grid-column: label;
}

.input-area {
  display: grid;
  align-items: center;
  text-align: center;
}

.confirmation-area {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  font-weight: bold;
  color: #e5d8d8;
  background: rgb(180, 29, 29);
  display: grid;
  grid-template-areas:
    ". text text ."
    ". button1 button2 ."
    ". . . .";
}

.confirmation-text {
  grid-area: text;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.button-area {
  position: relative;
  text-align: center;
  z-index: 1;
}

#yes-button,
#back-button {
  height: 35px;
  width: 70px;
  margin-left: auto;
  margin-right: auto;
}

#yes-button {
  grid-area: button1;
}

#back-button {
  grid-area: button2;
}

.input-field {
  position: relative;
}


#reset-button {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  grid-column: button;
}

.input-area-wrapper {
  padding-top: 20px;
  z-index: 1;
  position: relative;
  opacity: 1;
  transition: opacity 0.5s;
}

.square-wrapper {
  background: white;
  align-content: center;
}


#square {
  width: 100px;
  height: 100px;
  background: linear-gradient(#56a0e1, #c12424);
  margin-left: auto;
  margin-right: auto;
}

@media(max-width: 890px) {
  main {
    background: white;
  }

  main>.content {
    min-height: 700px;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-template-rows: 25% 75%;
  }

  label {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  input {
    width: 120px;
    justify-self: center;
  }


  .input-area> :nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }

  .input-area> :nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }

  .input-area> :nth-child(3) {
    grid-column: 2;
    grid-row: 1;
  }

  .input-area> :nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .input-area> :nth-child(5) {
    grid-column: 1;
    grid-row: 3;
  }

  .input-area> :nth-child(6) {
    grid-column: 1;
    grid-row: 4;
  }

  .input-area> :nth-child(7) {
    grid-column: 2;
    grid-row: 3;
  }

  .input-area> :nth-child(8) {
    grid-column: 2;
    grid-row: 4;
  }

  .input-area> :nth-child(9) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 5;
  }

  .input-area> :nth-child(10) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 6;
  }

  .button-area {
    margin-top: 20px;
    padding-bottom: 20px;
  }
}


@media(min-width: 890px) {

  main>.content,
  .square-wrapper {
    height: 600px;
  }

  main>.content {
    grid-column-end: 4;
    margin: 0;
    grid-template-columns: [first] 200px 10% [second] auto;
    overflow: hidden;
  }

  label {
    padding-top: 10px;
    padding-bottom: 10px;
    width: max-content;
  }

  input {
    height: 20px;
    grid-column: input;
    box-sizing: border-box;
  }

  .input-field {
    width: max-content;
  }

  .left-side-background {
    height: 100dvh;
  }

  .input-area {
    grid-template-columns: [label] 100px [input] 100px;
  }

  .square-wrapper {
    grid-column: second;
  }

  .button-area {
    padding-top: 5px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
  }
}