form {
    margin-left: 5%;
}

.cat-search-form {
  display: grid;
}
#search-cat-button {
    width: 80px;
  margin-left: auto;

}

.cats-field {
    margin-top: 20px;
}

.cats-table {
    width: 100%;
}

table {
  margin-top: 10px;
}

.error {
  display: none;
}

.error-string {
  font-size: 34px;
  color: red;
}

@media(max-width: 550px) {
  .cat-search-form {
        grid-template-rows: 18%;
    align-items: center;
    align-content: center;
    row-gap: 5px;
  }

  label {
    font-size: 20px;
  }
  input {
    width: 200px;
  }

  table {
  font-size: 20px;
}

#search-cat-button {
  margin-left: 0;
  margin-right: auto;
}
}

@media(max-width: 549px) {
  table {
    text-align: center;
  font-size: 15px;
}

}


@media(min-width: 551px) {
  .cat-search-form {
    grid-template-columns: 46px 138px 95px auto auto 5%;
  }

  label {
    font-size: 20px;
  }
  input {
    width: 126px;
  }

  table {
  font-size: 20px;
      text-align: left;
}
}

@media(min-width:650px) {
  .cat-search-form {
    grid-template-columns: 44px 141px 96px auto auto 5%
  }

  label {
    font-size: 20px;
  }
  input {
    width: 126px;
  }

  table {
  font-size: 20px;
}
}

@media(min-width:760px) {
  .cat-search-form {
    grid-template-columns: 57px 182px 122px auto auto 5%;
  }

  label {
    font-size: 25px;
  }
  input {
    width:158px;
  }

  table {
  font-size: 24px;
}
}

@media(min-width:1050px) {
  .cat-search-form {
    grid-template-columns: 63px 259px 144px auto auto 5%;
  }

  label {
    font-size: 28px;
  }
  input {
    width:237px;
  }

  table {
  font-size: 24px;
}
}