@media(min-width:1350px) {
  .cat-search-form {
    grid-template-columns: 6% 22% 13% auto 3% 5%;
  }

  label {
    font-size: 34px;
  }
  input {
    width:237px;
  }

  table {
  font-size: 30px;
}
}


.cat-search-form {
  display: grid;
}
#search-cat-button {
    width: 80px;
  margin-left: auto;

}

.cats-field {
    margin-top: 10px;
}

.cats-table {
    width: 100%;
    text-align: left;
}