nav {
    background-color: #ffeacc;
    display: grid;
}

nav>ul {
    display: flex;
    padding: 0;
    margin: 0;
    width: max-content;
    grid-column: content;
}

nav>ul>li {
    list-style: none;
    border-right: 2px solid black;
}

nav>ul>li:not(.active):hover {
    background: #a47c17;
}

nav>ul>li:not(.active):hover>a {
    color: wheat;
}

nav>ul>li.active {
    background: #cecae7;
}

nav>ul>li>a {
    text-decoration: none;
    padding: 10px;
    display: block;
    color: black;
    font-family: "Helvetica", Verdana;
    font-weight: bold;
}

nav.desktop>button {
    display: none;
}

/* MOBILESZKÖZÖK BEÁLLÍTÁSA*/

nav.closed>ul {
    display: none;
}

nav>ul.opened {
    display: flex;
    align-items: center;
}

nav.mobile>button {
    grid-column: content;
    background: none;
    border: none;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

nav.mobile>ul {
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
}

nav.mobile li {
    width: 100%;
    text-align: center;
    border-bottom: 2px solid black;
    border-right: none;
}

nav.mobile>ul>li:last-child {
    border: none;
}

nav .line-one,
nav .line-two {
    font-size: 30px;
    display: flex;
    height: 10px;
    align-items: center;
}

nav.mobile.opened .line-one {
    rotate: 60deg;
    width: max-content;
    transform: translateX(4px);
    translate: -1px
}

nav.mobile.opened .line-two {
    rotate: -240deg;
    width: max-content;
    transform: translatex(-4px);
    translate: -1px;

}