header{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 5% 5% [third] 80% [fourth] 5% 5%;
}

.grid-third-column {
    grid-column: third;
}

.grid-fourth-column {
    grid-column: fourth;
}

#hero {
    background-image: url("/img/hero_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgb(191, 203, 214);
}

#hero > h4 {
    margin: 0;
    padding: 0;
}


.content-type-one,
.content-type-two {
    display: grid;
    grid-template-columns: [first] 50%  [second] 50%;
}

.content-img {
    max-height: 300px;
}

.content-type-two > .content-img {
    grid-column: second;
    grid-row-start: 1;
}

.content-type-two > p {
    grid-column: first;
    grid-row-start: 1;
}