main>section:nth-child(even) {
    background-color: #ffeacc;
}

.type-one,
.type-two {
    display: grid;
}

.type-one h2,
.type-two h2 {
    grid-area: title;
    padding-left: 15px;
    padding-right: 15px;
}

.type-one p,
.type-two p {
    grid-area: area-content;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
}

.type-one img,
.type-two img {
    grid-area: image;
    justify-self: center;
    align-self: center;
    max-height: 300px;
    padding: 10px;
    max-width: 100%;
}

@media(max-width: 899px) {

    .type-one,
    .type-two {
        grid-template-columns: auto;
        grid-template-rows: [title] auto [area-content] auto [image] auto;
    }
}

@media(min-width: 900px) {

    .type-one,
    .type-two {
        grid-template-rows: auto;
    }

    .type-one {
        grid-template-columns: 35% 65%;
        grid-template-rows: auto;
        grid-template-areas:
            "image title"
            "image area-content";
    }

    .type-two {
        grid-template-columns: 65% 35%;
        grid-template-rows: auto;
        grid-template-areas:
            "title title"
            "area-content image";
    }

    .type-one h2,
    .type-two h2 {
        align-content: end;
    }
}

@media(min-width: 1097px) {
    .type-two {
        grid-template-areas:
            "title image"
            "area-content image";
    }
}