main>.content {
    margin-top: 30px;
}

button {
    width: max-content;
}

#input-todo {
    margin-right: 15px;
}

.add-card-form {
    display: grid;
    grid-template-columns: 70% 10%;
}

.todo-card {
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 50px;
    display: grid;
    align-items: center;
    height: max-content;
    align-content: center;
    background: red;
}

.todo-card-text {
    margin: 0;
    grid-column: text;
    line-break: anywhere;
    font-weight: bold;
    padding-left: 10px;
}

.remove-card-button,
.check-card-button {
    background: none;
    border: none;
    font-size: 30px;
}

.remove-card-button {
    grid-column: remove;
}

.check-card-button {
    grid-column: check;
}


@media(max-width:525px) {
    h1 {
        font-size: 6vw;
    }
}

@media(max-width: 772px) {
    .todo-card {
        grid-template-columns: [text] 80% [remove] 10% [check] 10%;
    }
}

@media(min-width: 773px) {
    .todo-card {
        grid-template-columns: [text] 90% [remove] 5% [check] 5%;
    }
}